file-transfer-api/src/main/mule/utility.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<flow name="retrieve-storeId" doc:id="4b204d98-ff87-4422-906a-c4515c2af9c2" initialState="started" >
		<scheduler doc:name="runs at 2am everyday" doc:id="b16b4394-df1c-4a2c-bca3-09015d0016a4" >
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="DAYS" />
			</scheduling-strategy>
		</scheduler>
		<file:read doc:name="Read the StoreId" doc:id="ad1bd087-51e0-419a-9d1d-3b3eef62bb2f" config-ref="File_Config" path='#["Users\\321094\\Documents\\data\\store_id.csv"]' />
		<os:store doc:name="Store" doc:id="390cdff7-814b-48f6-9fee-8cf499a6d8fa" key="storeId" objectStore="Object_store" >
			<os:value ><![CDATA[#[output application/json
---
(payload).StoreId]]]></os:value>
		</os:store>
		<logger level="INFO" doc:name="INFO" doc:id="476dc020-d7af-4846-9b4f-a8b174ac5277" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"logLevel" : "INFO",&#10;	"correlationId": correlationId,&#10;	"timeStamp" : ((now() as Date) as String { format: "dd-MM-YYYY"}),&#10;	"message" : "StoreId stored successfully"&#10;	&#10;}]' />
	</flow>
	<sub-flow name="send-mail" doc:id="e6bd920c-90f9-4e93-a499-de28d72335f8" >
		<try doc:name="Try" doc:id="92aa302b-1cda-4585-8bf3-2bcc0982a76b" >
			<logger level="DEBUG" doc:name="DEBUG" doc:id="0e922ae8-696a-45a1-bae0-9581f6b6ce2b" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"logLevel" : "ENTRY",&#10;	"correlationId": correlationId,&#10;	"timeStamp" : now(),&#10;	"message" : "send mail - Flow Started"&#10;	&#10;}]' />
			<ee:transform doc:name="Transform Message" doc:id="7acd5024-dfa6-4eac-ba79-444310e712bd" >
				<ee:message />
				<ee:variables >
					<ee:set-variable variableName="errorDetails" ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/json
---
if ( !(isEmpty(vars.errorDetails)) ) vars.errorDetails
else 
{
	statusCode: error.errorMessage.attributes.statusCode default 500,
	errorType: error.errorType.asString,
	errorMessage: error.errorMessage default "Internal Error",
	errorDetails: if(error.errorType.asString == "MULE:EXPRESSION")
	"There is an error in '" ++ substringBefore(error.failingComponent, "/")
	 ++ "' component. Please check the Cloudhub logs and reach out to Mulesoft team for assistance."
	else 
	error.detailedDescription,
	"timeStamp" : now()
}
]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<parse-template doc:name="Email Template" doc:id="876af3ef-06d8-4849-abae-f9c7ba17ebbb" location="email-format.html" />
			<email:send doc:name="send-email" doc:id="10d132ab-7baa-49a3-b3b9-621a420f7056" config-ref="email-smtp" fromAddress="testingn999@gmail.com" subject='#["testing"]' >
				<email:to-addresses >
					<email:to-address value="testingn999@gmail.com" />
				</email:to-addresses>
				<email:body encoding="UTF-8" >
					<email:content ><![CDATA[The attached records has been failed.]]></email:content>
				</email:body>
			</email:send>
			<logger level="INFO" doc:name="INFO" doc:id="2a5c51eb-f6c4-42e4-bda5-0f6b9b9fcca2" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"logLevel" : "INFO",&#10;	"correlationId": correlationId,&#10;	"timeStamp" : now(),&#10;	"message" : "Mail sent successfully"&#10;	&#10;}]' />
			<logger level="DEBUG" doc:name="DEBUG" doc:id="366a10a5-656c-4ac2-92d6-8aa8652e0026" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"logLevel" : "EXIT",&#10;	"correlationId": correlationId,&#10;	"timeStamp" : now(),&#10;	"message" : "send mail - Flow Completed"&#10;	&#10;}]' />
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="09c83f47-87cf-4193-ae01-5f53c91e8120" >
					<ee:transform doc:name="Transform Message" doc:id="b35c6c5c-778f-469d-8279-59084273a894" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/json
---
{
	statusCode: error.errorMessage.attributes.statusCode default 500,
	errorType: error.errorType.asString,
	errorMessage: error.errorMessage default "Internal Error",
	errorDetails: if(error.errorType.asString == "MULE:EXPRESSION")
	"There is an error in '" ++ substringBefore(error.failingComponent, "/")
	 ++ "' component. Please check the Cloudhub logs and reach out to Mulesoft team for assistance."
	else 
	error.detailedDescription
}]]></ee:set-payload>
						</ee:message>
						<ee:variables />
					</ee:transform>
					<logger level="ERROR" doc:name="ERROR" doc:id="74404c81-5cb0-4a24-b19a-0f6bc19cecb2" message="#[payload]" />
				</on-error-continue>
			</error-handler>
		</try>
	</sub-flow>
	<sub-flow name="write-csv-file" doc:id="7cf44be5-4ef5-4703-818a-ced996265f62" >
		<try doc:name="Try" doc:id="0ba2e431-9920-434b-beae-de1abd9cdfca" >
			<logger level="DEBUG" doc:name="DEBUG" doc:id="f610314f-5c80-46b5-becd-f491a3eab90d" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"logLevel" : "ENTRY",&#10;	"correlationId": correlationId,&#10;	"timeStamp" : now(),&#10;	"message" : "write-csv-file - Flow Started"&#10;	&#10;}]' />
			<os:retrieve doc:name="Retrieve" doc:id="7898536c-59ac-4c23-9fb2-8c2e05d3bafe" key="writtenFiles" objectStore="Object_store" target="existingFile" targetValue="#[[payload]]" >
				<os:default-value ><![CDATA[#[[]]]]></os:default-value>
			</os:retrieve>
			<ee:transform doc:name="Transform Message" doc:id="ebe15cb7-3218-4f71-b630-5a61f0ffb79e" >
				<ee:message />
				<ee:variables >
					<ee:set-variable variableName="fileType" ><![CDATA[%dw 2.0
output application/json
---
if (vars.existingFile contains vars.fileName) "APPEND"
else "CREATE_NEW"]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<until-successful maxRetries="2" doc:name="Until Successful" doc:id="c19e1898-f8c5-43f2-97f4-a53113997566" millisBetweenRetries="6000" >
				<file:write doc:name="Write" doc:id="d599ca1d-7796-4dc7-92ab-67734fe1b9c1" config-ref="File_Config" path='#["Users\\321094\\Documents\\data\\" ++ vars.fileName]' mode="#[vars.fileType]" >
					<file:content ><![CDATA[#[output application/csv
---
payload]]]></file:content>
				</file:write>
			</until-successful>
			<os:store doc:name="Store" doc:id="01b9dfac-5a27-48fd-9ba2-00f19f463fb7" key="writtenFiles" objectStore="Object_store" >
				<os:value ><![CDATA[#[output application/json
---
if (!(vars.existingFile contains vars.fileName))
[vars.fileName] + vars.fileName
else
[vars.fileName]]]]></os:value>
			</os:store>
			<logger level="DEBUG" doc:name="DEBUG1" doc:id="a908589a-d8e5-40a9-b315-0953c8ce85e8" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"logLevel" : "EXIT",&#10;	"correlationId": correlationId,&#10;	"timeStamp" : now(),&#10;	"message" : "write-csv-file - Flow Completed"&#10;	&#10;}]' />
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="584f5529-53be-4cc4-95a5-17dc20381ee9" >
					<ee:transform doc:name="Transform Message" doc:id="30a807ee-cfaa-4173-abab-020a4172814f" >
						<ee:message />
						<ee:variables >
							<ee:set-variable variableName="errorDetails" ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/json
---
{

"statusCode": vars.httpStatus,
"correlationId": vars.correlationId,
"errorType": error.errorType.asString,
"errorMessage": error.errorMessage,
"errorDetails": if(error.errorType.asString == "MULE:EXPRESSION")
	"There is an error in the mule component. Please check the Cloudhub logs and reach out to Mulesoft team for assistance."
	else 
	error.detailedDescription,
 "timestamp": now() as DateTime

}]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
					<logger level="ERROR" doc:name="Logger" doc:id="df3c7a0a-57a9-48d2-9b9f-67cd0bca5a97" message="#[vars.errorDetails]" />
				</on-error-propagate>
			</error-handler>
		</try>
	</sub-flow>
</mule>
